# ignore all grahpic files in uploads/avatars/
avatars/*.png
avatars/*.jpg
avatars/*.jpeg

# do not ignore default grahpic files in uploads/avatars/:
!avatars/default.png
!avatars/example1.png
!avatars/example2.png
